@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  @apply bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100 transition-colors min-h-screen;
}
